// Partials

.block {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrap {
        // border: 2px solid purple;
        width: 100vw;
        aspect-ratio: 16/11.07;
        max-height: 100vh;
        margin: 0 auto;
        background: url(/src/assets/bg.svg);
        background-repeat: no-repeat;
        display: grid;
        place-items: center;
        padding: 1rem;

        @media (min-width: 1024px) {
        width: 60vw; 
    }

    
    .wrap__content {
        // border: 2px solid purple;
        max-width: 90%;
        min-height: 90%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header {
        &__h1 {
            font-family: "Jacquard 12", system-ui;
            font-size: clamp(3rem, 5vw, 10rem);
        }
}

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: clamp(1rem, 2vw, 3rem);

        &__h2 {
            // border: 2px solid green;  
            // font-family: "Pixelify Sans", sans-serif;
            font-family: "Jersey 10", sans-serif;
            font-size: clamp(1.8rem, 2.5vw, 5rem);
        }

        &__nav {
            // border: 2px solid orange;

        }

        &__list {
            list-style: none;
            display: flex;
            gap: 20px;
        }

        &__links {
            display: flex;
            
            // border: 2px solid orange;
            text-decoration: none;
            font-family: "Jersey 10", sans-serif;
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            color: black;
            padding-right: 1rem;
            transition: transform .2s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
}
}
}